include ../BaseMenuView/BaseMenuHeader.pug

- var count = 0;
table.leaderTable
    thead
        tr
            th.tableHeader Position
            th.tableHeader Name
            th.tableHeader Score

    tbody
        each player in players
            - if(count == highlightIndex)
                tr.highlight
                    th.contents #{player.position}
                    th.contents #{player.login}
                    th.contents #{player.score}
            - else
                tr
                    th.contents #{player.position}
                    th.contents #{player.login}
                    th.contents #{player.score}

            - count++;

include ../BaseMenuView/BaseMenuFoot.pug
